@charset "UTF-8";
@charset "UTF-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}

body {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

body, code {
    font: 0.75em Lato,sans-serif,'나눔고딕',NanumGothic,'Nanum Gothic',Verdana,Dotum,AppleGothic,sans-serif;
    color: #353535;
    background: #fff;
    font-size: 11px;
    letter-spacing: 1px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

div {
    display: block;
}

div#sideleft{
	position: fixed;
left: 0;
top: 0;
height: 100%;
width: 15%;
z-index: 5;
font-family: Montserrat, Lato, sans-serif, '나눔고딕', NanumGothic, 'NanumGOthic';
font-size: 11px;
line-height: 22px;
text-transform: uppercase;
font-weight: 500;
background-color: #D8D8D8;
}

div#sideright{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 15%;
    z-index: 6;
    font-family: Montserrat,Lato,sans-serif,'나눔고딕',NanumGothic,'Nanum Gothic';
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: right;
    background-color: #D8D8D8;
}

a {
    text-decoration: none;
    color: #000;
}

.path {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    *zoom: 1;
    display: none;
}

.path li a {
    color: #757575;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.xans-layout-category .position > ul > li > a {
    display: block;
    color: #333;
}

strong, b {
    font-weight: bold;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
	list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

hr.layout {
    display: none;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.xans-board-listpackage .boardSort {
    float: left;
    margin: 0 0 10px;
}

.xans-board-listpackage {
    margin: 40px;
}

.xans-board-title .title {
    margin: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
}

.xans-board-title .title h2 {
    display: inline-block;
    color: #2e2e2e;
    font-size: 13px;
    margin: 0 0 10px;
    letter-spacing: 2px;
    font-weight: 500;
    *display: inline;
    *zoom: 1;
    border-bottom: 1px solid #666;
    padding: 0 15px 7px 17px;
    font-family: Montserrat,Poppins,Lato,sans-serif;
}

#wrap {
    position: relative;
	margin: 70px 30% 0;
}

#wrap {
    margin: 0 190px !important;
}

#container {
    margin: 0 auto;
    *zoom: 1;
}

#container:after {
    content: "";
    display: block;
    clear: both;
}

#contents {
    margin: 0 40px;
}

colgroup {
    display: table-column-group;
}

.ec-base-table.typeList table {
    border-top-color: #dedede;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    
}

.ec-base-table.typeList.gBorder tbody td {
    border-color: #eee;
}

.xans-board-listpackage .boardSort {
    float: left;
    margin: 0 0 0 37%;
}

.ec-base-table .center {
    text-align: center;
}

.ec-base-table.typeList .center td, .ec-base-table.typeList td.center {
    padding-left: 0;
    padding-right: 0;
}

.ec-base-table.gBorder td:first-child {
    border-left: 0;
}

.ec-base-table.typeList td {
    padding: 8px 10px 7px;
}

.ec-base-table td {
    padding: 11px 10px 10px;
    border-top: 1px solid #dfdfdf;
    color: #353535;
    vertical-align: middle;
}




caption {
    display: none;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.ec-base-table th:first-child {
    border-left: 0;
}

.xans-board-listpackage .ec-base-table {
    clear: both;
}

.xans-board-listpackage .ec-base-table th {
    font-size: 10px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    padding: 20px 0 20px;
}

.ec-base-table thead th {
    padding: 11px 0 10px;
    border-bottom: 1px solid #dedede;
    vertical-align: middle;
    font-weight: normal;
}



.displaynone {
    display: none !important;
}

th, td {
    border: 0;
    vertical-align: top;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.ec-base-table table {
    position: relative;
    margin: 10px 0 0;
    border: 1px solid #dedede;
    border-top-color: #fff;
    line-height: 1.5;
    font-size: 11px;
}

table[Attributes Style] {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.ec-base-paginate {
    margin: 30px 0;
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.ec-base-paginate ol {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    *margin: 0;
    margin: 0 8px;
}

.ec-base-paginate li a.this {
    padding-bottom: 6px;
    color: #000;
    font-weight: bold;
}

.ec-base-paginate li a {
    display: block;
    padding: 6px;
    color: #888;
    line-height: 14px;
    background: #fff;
    letter-spacing: 1px;
    font-size: 11px;
}

.ec-base-paginate a {
    font-size: 12px;
    padding: 6px;
    line-height: 14px;
    display: inline-block;
    margin: 0 3px;
    letter-spacing: -1px;
}


/**/
/* 사이드메뉴 서브메뉴 */
.menu {
	position: relative;
	display: block;
}
.submenu {
	position: absolute;
	display: none;
	background-color: #f1f1f1;
	min-width: 150px;
	z-index: 2;
}
.submenu a {
	color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}
.menu:hover .submenu{
	display: block;
}
.submenu a:hover {
	background-color: #ddd;
}
/*검색버튼*/
.search-container {
	margin: 50px 0 0 30px;
}

.search-container button {
	background: #D8D8D8;
	font-size: 12px;
  	border: none;
	cursor: pointer;
}
/*마진 수정*/
div#position {
	margin: 50px 0 0 30px;
	
}


/*버튼 WRITE 부분*/
.ec-base-button.typeBG {
    padding: 10px 0;
}

.ec-base-button .gRight {
    float: right;
    text-align: right;
}

.ec-base-button {
    padding: 30px 0;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
}

.xans-board-buttonlist.ec-base-button.typeBG {
    border-top: 0 none;
}

.ec-base-button:after {
    display: block;
    content: "";
    clear: both;
}

a.btnBlack {
    color: #fff;
    border: 1px solid #000;
    background: #000;
    padding: 0 10px;
    min-width: 120px;
    height: 30px;
    line-height: 30px;
}

.ec-base-button a {
    display: inline-block;
    margin: 0 1px;
    vertical-align: middle;
    text-align: center;
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
}

a:hover.btnBlack {
    color: #000;
    border: 1px solid #000;
    background: #fff;
}


/*검색창 부분*/

.xans-board-search .boardSearch {
    display: block;
}

.xans-board-search {
    padding: 20px 0 20px 10px;
    /* color: #2e2e2e; */
    font-size: 12px;
}


/* 좌우 고정 */

@media only screen and (device-width:1000px) , only screen and
		(max-width:1000px) , screen and (max-device-width:1000px) {
	#sideleft {
		position: absolute !important;
		min-width: 170px;
	}
}

@media only screen and (device-width:1000px) , only screen and
		(max-width:1000px) , screen and (max-device-width:1000px) {
	#sideright {
		position: absolute !important;
		min-width: 170px;
	}
}

@media only screen and (device-width:1000px) , only screen and
		(max-width:1000px) , screen and (max-device-width:1000px) {
	#sidebgleft {
		min-width: 170px;
	}
}

@media only screen and (device-width:1000px) , only screen and
		(max-width:1000px) , screen and (max-device-width:1000px) {
	#sidebgright {
		min-width: 170px;
	}
}

@media only screen and (device-width:1000px) , only screen and
		(max-width:1000px) , screen and (max-device-width:1000px) {
	#wrap {
		margin: 0 190px !important;
	}
}




form {
    display: block;
    margin-top: 0em;
}

input, select, textarea {
    font-size: 100%;
    font-family: Lato,sans-serif,"돋움",Dotum;
    color: #353535;
    vertical-align: middle;
    font-size: 11px;
}

input[type="hidden" i], input[type="image" i], input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}

input[type="hidden" i] {
    display: none;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

input, select, textarea {
    font-size: 100%;
    font-family: Lato,sans-serif,"돋움",Dotum;
    color: #353535;
    vertical-align: middle;
    font-size: 11px;
}

.xans-board-search {
    padding: 20px 0 20px 10px;
    color: #2e2e2e;
    font-size: 12px;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

img, fieldset {
    border: none;
    vertical-align: top;
}

legend {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    line-height: 0;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.xans-board-search p {
    margin: 0 0 10px;
    padding: 0 0 0 7px;
    background: url(http://img.echosting.cafe24.com/skin/base/common/ico_triangle3.gif) no-repeat 0 45%;
}

.displaynone {
    display: none !important;
}


/*셀렉트 부분*/
.xans-board-search select {
    margin: 0 2px 0 0;
    width: 72px;
}

select {
    height: 24px;
    border: 1px solid #d5d5d5;
    border-radius: 0px;
    
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}


/*검색 내용 부분*/
input[type=text], input[type=password] {
    height: 18px;
    line-height: 20px;
    padding: 2px 4px;
    border: 1px solid #d5d5d5;
    color: #353535;
    font-size: 12px;
}

.xans-board-search input {
    width: 162px;
}

/*버튼 serch 부분*/
.xans-board-search a {
    border: 1px solid #dedede;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px 12px;
    vertical-align: middle;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}




/*전체 페이지 크기 & 가운데 정렬*/
.container{
	position: relative;
    max-width: 1100px;
    min-width: 1100px; 
    top: 50px;
    width:250px; 
    height:300px;    
	text-align:center; 
	vertical-align:middle; 
	display:table-cell; 
} 

/*제목 디자인*/
.titleArea h2 {
    display: inline-block;
    color: #2e2e2e;
    font-size: 20px;
    margin: 0 0 10px;
    letter-spacing: 2px;
    font-weight: 500;
    border-bottom: 1px solid #666;
    padding: 0 15px 7px 17px;
    font-family: Montserrat,Poppins,Lato,sans-serif;
}
/*id,pw 디자인*/
.main p{
    display: block;
    height: 15px;
    font-size: 13px;
    line-height: 19px;
    color: #000;
    font-family: Montserrat,Poppins,Lato,sans-serif;
}

.main input{
	display: inline;
    width: 170px;
    height: 25px;
    padding: 15px;
    margin-bottom: 10px;
    border: 0 none;
    color: #000;
    margin: 0 0 5px;
    border: 1px solid #dedede;
}

/*login버튼 css*/
.log_button {
    width: 170px;
    display: block;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    font-weight: normal;
    margin: 10px 0 5px;
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    letter-spacing: 1px;
    
    /*가운데 정렬*/
   margin: 0 auto;
    
}
.log_button:hover {
	color: #242526;
	background-color:#f7f7f7;
}
.log_button:active {	
	top:1px;
}



.link > a{
	font: 0.75em Lato,sans-serif,'나눔고딕',NanumGothic,'Nanum Gothic',Verdana,Dotum,AppleGothic,sans-serif;
	text-decoration: none;
}
/*링크 파란색 컬러 없애기*/
.link > a:link {
	color : black; 
}
.link > a:visited {
	color : black;
} 
.link > a:hover { 
 color : black; text-decoration: underline;
}

/* sold out 제목 없애보기 TEST*/
a:link {
	color : black; 
	text-decoration: none;
}
a:visited {
	color : black;
	text-decoration: none;
} 
a:hover { 
 	color : black;
 	text-decoration: none;
}
a:active {
	color : black;
	text-decoration: none;
}


      